<div>
  <mat-card class="entry-card mt-5 ms-auto me-auto h-100 p-2 w-25 p-2">
    <h3 class="m-2 text-center">Log in</h3>
    <form
      *ngIf="formGroup"
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()"
      class="d-flex flex-column mb-0 me-auto ms-auto mt-0 w-50"
    >
      <label class="text-align">Username</label>
      <mat-form-field appearance="outline" class="input">
        <input
          type="text"
          matInput
          placeholder="Username"
          formControlName="username"
        />
        <mat-error>{{
          getErrorMessage(formGroup.controls["username"], "Username")
        }}</mat-error>
      </mat-form-field>
      <label class="text-align">Password</label>
      <mat-form-field appearance="outline" class="input mb-2 w-150">
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
        />
        <mat-error>{{
          getErrorMessage(formGroup.controls["password"], "Password")
        }}</mat-error>
      </mat-form-field>
      <div class="d-flex justify-content-between">
        <button mat-raised-button color="primary">Log in</button>
        <a mat-raised-button color="accent" routerLink="../registration">
          Register
        </a>
      </div>
    </form>
  </mat-card>
</div>
