<h1 mat-dialog-title>Delete User</h1>
<p mat-dialog-content>
  Are you sure you want to delete {{ name + " " + surname }}?
</p>

<div mat-dialog-actions class="justify-content-center">
  <button mat-raised-button (click)="onNoClick()">No</button>
  <button mat-raised-button color="primary" (click)="onYesClick()">Yes</button>
</div>
