<div class="container-s">
  <mat-card class="w-50 mb-0 me-auto ms-auto mt-0">
    <form
      *ngIf="formGroup"
      class="d-flex flex-column mb-0 me-auto ms-auto mt-0 w-50"
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()"
    >
      <h3>User information</h3>
      <label>Username</label>

      <mat-form-field appearance="outline" class="mb-1">
        <input type="text" matInput formControlName="username" />
      </mat-form-field>

      <label>Name</label>
      <mat-form-field appearance="outline" class="mb-2">
        <input type="text" matInput formControlName="name" />
      </mat-form-field>

      <label class="edit_insert-form-label"
        >Surname<span class="required-asterisk">*</span></label
      >
      <mat-form-field appearance="outline" class="mb-2">
        <input type="text" matInput formControlName="surname" />
      </mat-form-field>

      <label class="edit_insert-form-label"
        >Email<span class="required-asterisk">*</span></label
      >
      <mat-form-field appearance="outline" class="mb-2">
        <input type="text" matInput formControlName="email" />
      </mat-form-field>

      <label class="edit_insert-form-label">Address</label>
      <mat-form-field appearance="outline" class="mb-2">
        <input type="text" matInput formControlName="address" />
      </mat-form-field>
      <label class="edit_insert-form-label">City</label>
      <mat-form-field appearance="outline" class="mb-2">
        <input type="text" matInput formControlName="city" />
      </mat-form-field>

      <label class="edit_insert-form-label"
        >Role<span class="required-asterisk">*</span></label
      >
      <mat-form-field appearance="outline" class="mb-2">
        <mat-select formControlName="roleId" [(value)]="userRole">
          <mat-option *ngFor="let role of userRoles" [value]="role.id">
            {{ role.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="d-flex justify-content-between">
        <a mat-raised-button routerLink="../../all-users">Cancel</a>

        <button mat-raised-button color="primary" (click)="onSubmit()">
          Edit user
        </button>
      </div>
    </form>
  </mat-card>
</div>
