<div class="container-md d-flex flex-column">
  <mat-card class="w-50 mb-0 me-auto ms-auto mt-0">
    <h3>{{ isEdit ? "Edit product" : "New product" }}</h3>
    <form
      *ngIf="formGroup"
      class="d-flex flex-column mb-0 me-auto ms-auto mt-0 w-50"
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field appearance="standard">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="title" />
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Quantity</mat-label>
        <input
          matInput
          type="text"
          type="number"
          formControlName="quantity"
          placeholder="Quantity"
        />
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Price</mat-label>
        <input
          matInput
          type="number"
          formControlName="price"
          placeholder="Price"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
        ></textarea>
      </mat-form-field>
      <label class="edit_insert-form-label"
        >Measurement unit<span class="required-asterisk">*</span></label
      >
      <mat-form-field appearance="outline" class="mb-2">
        <mat-select formControlName="measurementUnitId" [(value)]="unit">
          <mat-option *ngFor="let unit of productUnits" [value]="unit.id">
            {{ unit.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div mat-dialog-actions>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!formGroup.valid"
        >
          Submit
        </button>
      </div>
    </form>
  </mat-card>
</div>
