<div class="container-md">
  <mat-card>
    <h3 *ngIf="invoice">Invoice #{{ invoice.id }}</h3>
    <div *ngIf="items" class="table-responsive">
      <table mat-table [dataSource]="items" class="table product-table">
        <ng-container matColumnDef="title">
          <th class="pt-2 pb-2" mat-header-cell *matHeaderCellDef class="w-20">
            Title
          </th>
          <td mat-cell *matCellDef="let product">
            {{ product.productTitle }}
          </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th class="pt-2 pb-2" mat-header-cell *matHeaderCellDef class="w-20">
            Price
          </th>
          <td mat-cell *matCellDef="let product">
            {{ product.price }} kn/{{ product.measurementUnit }}
          </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th class="pt-2 pb-2" mat-header-cell *matHeaderCellDef class="w-20">
            Amount
          </th>
          <td mat-cell *matCellDef="let product">
            {{ product.quantity }} {{ product.measurementUnit }}
          </td>
        </ng-container>
        <ng-container matColumnDef="totalperproduct">
          <th class="pt-2 pb-2" mat-header-cell *matHeaderCellDef class="w-20">
            Price
          </th>
          <td mat-cell *matCellDef="let product">
            {{ product.totalProductPrice }} kn
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          class="align-middle"
          *matRowDef="let product; columns: displayedColumns"
        ></tr>
      </table>
    </div>
    <div class="d-flex flex-row-reverse pe-5 pt-3">
      <div *ngIf="invoice$ | async">
        Total price: {{ invoice.totalPrice }} kn
      </div>
    </div>
  </mat-card>
  <div class="d-flex flex-row-reverse pe-5 pt-3">
    <button
      *ngIf="!invoice?.paidOn"
      mat-raised-button
      color="primary"
      (click)="markAsPaid()"
    >
      Mark as paid
    </button>
  </div>
</div>
