<div class="container-md">
  <mat-card>
    <div *ngIf="cart$ | async" class="table-responsive">
      <table mat-table [dataSource]="cartItems" class="table product-table">
        <ng-container matColumnDef="title">
          <th class="pt-2 pb-2" mat-header-cell *matHeaderCellDef class="w-20">
            Title
          </th>
          <td mat-cell *matCellDef="let product">
            {{ product.title }}
          </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th class="pt-2 pb-2" mat-header-cell *matHeaderCellDef class="w-20">
            Price
          </th>
          <td mat-cell *matCellDef="let product">
            {{ product.price }} kn/{{ product.measurementUnit }}
          </td>
        </ng-container>
        <ng-container matColumnDef="amount">
          <th class="pt-2 pb-2" mat-header-cell *matHeaderCellDef class="w-20">
            Amount
          </th>
          <td mat-cell *matCellDef="let product">
            <div class="d-flex">
              <input
                type="number"
                class="form-control w-25"
                [(ngModel)]="product.amount"
                (change)="updateTotal(product.id)"
                min="0"
              />
              <span class="mt-3 ms-2">{{ product.measurementUnit }}</span>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="totalperproduct">
          <th class="pt-2 pb-2" mat-header-cell *matHeaderCellDef class="w-20">
            Total product price
          </th>
          <td mat-cell *matCellDef="let product">{{ product.total }} kn</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th
            class="pt-2 pb-2"
            mat-header-cell
            *matHeaderCellDef
            class="w-20"
          ></th>
          <td mat-cell *matCellDef="let product">
            <div
              class="table-button-container product-action-buttons d-flex flex-row-reverse"
            >
              <button
                matTooltip="Remove product"
                aria-label="Remove product button"
                mat-fab
                color="primary"
                (click)="removeFromCart(product)"
              >
                <mat-icon>clear</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          class="align-middle"
          mat-row
          *matRowDef="let product; columns: displayedColumns"
        ></tr>
      </table>
    </div>
    <div class="d-flex flex-row-reverse pe-5 pt-3">
      <div>Total price: {{ totalInvoice }} kn</div>
    </div>
  </mat-card>
  <div class="d-flex flex-row-reverse pe-5 pt-3">
    <button mat-raised-button color="primary" (click)="completeOrder()">
      Complete order
    </button>
  </div>
</div>
