<div class="table-container mb-2">
  <nav>
    <mat-toolbar>
      <div class="navbar-container d-flex">
        <div>
          <a
            mat-button
            *ngFor="let link of navLinks"
            [ngClass]="{ 'navbar-item-active': link.index == activeLinkIndex }"
            [routerLink]="link.link"
            class="navbar-item"
          >
            {{ link.label }}
          </a>
        </div>
        <div class="ms-auto">
          <a mat-button class="navbar-item" (click)="logout()"> LOGOUT </a>
        </div>
      </div>
    </mat-toolbar>
  </nav>
</div>
