<div class="d-flex flex-row">
  <div class="me-3">
    <input type="number" class="form-control" [(ngModel)]="amount" min="0" />
  </div>
  <button
    matTooltip="Add to cart"
    aria-label="Add to cart button"
    mat-fab
    color="primary"
    (click)="addToCart(); $event.stopPropagation()"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>
