<div>
  <mat-card class="entry-card mt-5 ms-auto me-auto w-50 h-100 p-2">
    <h3 class="m-2 text-center">Register</h3>
    <form
      *ngIf="formGroup"
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit()"
      class="d-flex flex-column mb-0 me-auto ms-auto mt-0 w-50"
    >
      <div class="d-flex flex-row">
        <div class="d-block pe-5">
          <label class="text-align">Name</label>
          <mat-form-field appearance="outline" class="input">
            <input
              type="text"
              matInput
              placeholder="Name"
              formControlName="name"
            />
            <mat-error>{{
              getErrorMessage(formGroup.controls["name"], "Name")
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="d-block ps-2">
          <label class="text-align">Surname</label>
          <mat-form-field appearance="outline" class="input">
            <input
              type="text"
              matInput
              placeholder="Surname"
              formControlName="surname"
            />
            <mat-error>{{
              getErrorMessage(formGroup.controls["surname"], "Surname")
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <br />
      <div class="d-flex flex-row">
        <div class="d-block pe-5">
          <label class="text-align">Address</label>
          <mat-form-field appearance="outline" class="input">
            <input
              type="text"
              matInput
              placeholder="Address"
              formControlName="address"
            />
            <mat-error>{{
              getErrorMessage(formGroup.controls["address"], "Address")
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="d-block ps-2">
          <label class="text-align">City</label>
          <mat-form-field appearance="outline" class="input">
            <input
              type="text"
              matInput
              placeholder="City"
              formControlName="city"
            />
            <mat-error>{{
              getErrorMessage(formGroup.controls["city"], "City")
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <br />
      <div class="d-flex flex-row">
        <div class="d-block pe-5">
          <label class="text-align">Email</label>
          <mat-form-field appearance="outline" class="input">
            <input
              type="text"
              matInput
              placeholder="Email"
              formControlName="email"
            />
            <mat-error>{{
              getErrorMessage(formGroup.controls["email"], "Email")
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="d-block ps-2">
          <label class="text-align">Username</label>
          <mat-form-field appearance="outline" class="input">
            <input
              type="text"
              matInput
              placeholder="Username"
              formControlName="username"
            />
            <mat-error>{{
              getErrorMessage(formGroup.controls["username"], "Username")
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <br />
      <div class="d-flex flex-row">
        <div class="d-block pe-5">
          <label class="text-align">Password</label>
          <mat-form-field appearance="outline" class="input mb-2 w-150">
            <input
              type="password"
              matInput
              placeholder="Password"
              formControlName="password"
            />
            <mat-error>{{
              getErrorMessage(formGroup.controls["password"], "Password")
            }}</mat-error>
          </mat-form-field>
        </div>
        <div class="d-block ps-2">
          <label class="text-align">Repeat password</label>
          <mat-form-field appearance="outline" class="input mb-2 w-150">
            <input
              type="password"
              matInput
              placeholder="Repeat password"
              formControlName="repeatedPassword"
            />
            <mat-error>{{
              getErrorMessage(
                formGroup.controls["repeatedPassword"],
                "Repeated password"
              )
            }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button mat-raised-button color="primary">Register</button>
        <a mat-raised-button color="accent" routerLink="../login"> Log in </a>
      </div>
    </form>
  </mat-card>
</div>
