<div class="container-md">
  <header>
    <h1>Orders</h1>
  </header>

  <div class="d-flex">
    <div class="options">
      <mat-form-field appearance="outline">
        <input
          class="filter-input"
          type="text"
          matInput
          placeholder="Search..."
          maxlength="70"
          [(ngModel)]="searchValue"
          #search
        />
      </mat-form-field>
    </div>
  </div>

  <div class="mt-2 mat-elevation-z8">
    <div class="table-container">
      <table
        mat-table
        [dataSource]="dataSource"
        class="w-100"
        matSort
        matSortActive="issuedOn"
        matSortDirection="asc"
        matSortDisableClear="true"
      >
        <ng-container matColumnDef="buyerName">
          <th class="pt-2 pb-2" mat-header-cell *matHeaderCellDef class="w-20">
            Client name
          </th>
          <td mat-cell *matCellDef="let invoice">
            {{ invoice.buyerName }}
          </td>
        </ng-container>
        <ng-container matColumnDef="issuedOn">
          <th
            class="pt-2 pb-2"
            mat-header-cell
            mat-sort-header
            *matHeaderCellDef
            class="w-20"
          >
            Issued on
          </th>
          <td mat-cell *matCellDef="let invoice">
            {{ invoice.issuedOn | date: "dd.MM.yyyy. HH:mm":"UTC +2" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="isPaid">
          <th class="pt-2 pb-2" mat-header-cell *matHeaderCellDef class="w-20">
            Paid
          </th>
          <td mat-cell *matCellDef="let invoice">
            <div *ngIf="invoice.paidOn; else notPaid">
              <mat-icon>done</mat-icon>
            </div>

            <ng-template #notPaid> <mat-icon>close</mat-icon></ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="totalPrice">
          <th class="pt-2 pb-2" mat-header-cell *matHeaderCellDef class="w-20">
            Total price
          </th>
          <td mat-cell *matCellDef="let invoice">
            {{ invoice.totalPrice }} kn
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th
            class="pt-2 pb-2"
            mat-header-cell
            *matHeaderCellDef
            class="w-20"
          ></th>
          <td mat-cell *matCellDef="let invoice">
            <div class="table-button-container invoice-action-buttons">
              <button
                *ngIf="!invoice.paidOn"
                matTooltip="Mark as paid"
                aria-label="Mark as paid button"
                mat-fab
                color="primary"
                (click)="markAsPaid(invoice.id)"
              >
                <mat-icon>done</mat-icon>
              </button>
              <button
                matTooltip="View invoice"
                aria-label="View invoice button"
                routerLink="../details/{{ invoice.id }}"
                mat-fab
                color="accent"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let invoice; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      [length]="dataSource?.totalCount$ | async"
      [pageSize]="10"
      [pageSizeOptions]="[10, 20]"
      aria-label="Select page"
      [showFirstLastButtons]="true"
    >
    </mat-paginator>
  </div>
</div>
