.table-button-container {
  display: flex;
  justify-content: flex-end;
}

.table-button-container > button {
  margin: 1em;
}

.invoice-action-buttons {
  .mat-fab {
    width: 40px;
    height: 30px;
    border-radius: 4px;

    .mat-icon {
      font-size: 18px;
      margin-top: -2px;
      line-height: 0;
    }
  }
}
