<div class="container-md">
  <header>
    <h1>Users</h1>
  </header>

  <div class="d-flex">
    <div class="options">
      <mat-form-field appearance="outline">
        <input
          class="filter-input"
          type="text"
          matInput
          placeholder="Search..."
          maxlength="70"
          [(ngModel)]="searchValue"
          #search
        />
      </mat-form-field>
    </div>
  </div>

  <div class="mt-2 mat-elevation-z8">
    <div class="table-container">
      <table
        mat-table
        [dataSource]="dataSource"
        class="w-100"
        matSort
        matSortActive="username"
        matSortDirection="asc"
        matSortDisableClear="true"
      >
        <ng-container matColumnDef="username">
          <th
            class="pt-2 pb-2"
            mat-header-cell
            mat-sort-header
            *matHeaderCellDef
            class="w-20"
          >
            Username
          </th>
          <td mat-cell *matCellDef="let user">
            {{ user.username }}
          </td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th class="pt-2 pb-2" mat-header-cell *matHeaderCellDef class="w-20">
            Name
          </th>
          <td mat-cell *matCellDef="let user">
            {{ user.name }}
          </td>
        </ng-container>
        <ng-container matColumnDef="surname">
          <th class="pt-2 pb-2" mat-header-cell *matHeaderCellDef class="w-20">
            Surname
          </th>
          <td mat-cell *matCellDef="let user">
            {{ user.surname }}
          </td>
        </ng-container>

        <ng-container matColumnDef="role">
          <th class="pt-2 pb-2" mat-header-cell *matHeaderCellDef class="w-20">
            Role
          </th>
          <td mat-cell *matCellDef="let user">
            {{ user.role }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th
            class="pt-2 pb-2"
            mat-header-cell
            *matHeaderCellDef
            class="w-20"
          ></th>
          <td mat-cell *matCellDef="let user">
            <div class="table-button-container user-action-buttons">
              <button
                matTooltip="Edit user"
                aria-label="Edit user button"
                routerLink="../edit/{{ user.id }}"
                mat-fab
                color="accent"
              >
                <mat-icon>edit</mat-icon>
              </button>

              <button
                matTooltip="Delete user"
                aria-label="Delete user button"
                mat-fab
                color="primary"
                (click)="
                  openDeleteDialog(user.id, user.name, user.surname);
                  $event.stopPropagation()
                "
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let user; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      [length]="dataSource?.totalCount$ | async"
      [pageSize]="10"
      [pageSizeOptions]="[10, 20]"
      aria-label="Select page"
      [showFirstLastButtons]="true"
    >
    </mat-paginator>
  </div>
</div>
