<div class="container-md">
  <header>
    <h1>Products</h1>
  </header>

  <div class="d-flex justify-content-between">
    <div class="options">
      <mat-form-field appearance="outline">
        <input
          class="filter-input"
          type="text"
          matInput
          placeholder="Search..."
          maxlength="70"
          [(ngModel)]="searchValue"
          #search
        />
      </mat-form-field>
    </div>

    <div *ngIf="isAdmin">
      <button mat-raised-button color="primary" routerLink="../add">
        Add product
      </button>
    </div>
  </div>
  <div class="mt-2 mat-elevation-z8">
    <div class="table-container">
      <table
        mat-table
        [dataSource]="dataSource"
        class="w-100"
        matSort
        matSortActive="title"
        matSortDirection="asc"
        matSortDisableClear="true"
      >
        <ng-container matColumnDef="title">
          <th
            class="pt-2 pb-2"
            mat-header-cell
            mat-sort-header
            *matHeaderCellDef
            class="w-20"
          >
            Title
          </th>
          <td mat-cell *matCellDef="let product">
            {{ product.title }}
          </td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th class="pt-2 pb-2" mat-header-cell *matHeaderCellDef class="w-20">
            Price
          </th>
          <td mat-cell *matCellDef="let product">
            {{ product.price }} kn/{{ product.measurementUnit }}
          </td>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <th class="pt-2 pb-2" mat-header-cell *matHeaderCellDef class="w-20">
            Quantity in stock
          </th>
          <td mat-cell *matCellDef="let product">
            {{ product.quantity }} {{ product.measurementUnit }}
          </td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th class="pt-2 pb-2" mat-header-cell *matHeaderCellDef class="w-20">
            Description
          </th>
          <td mat-cell *matCellDef="let product">
            {{ product.description }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th
            class="pt-2 pb-2"
            mat-header-cell
            *matHeaderCellDef
            class="w-20"
          ></th>
          <td mat-cell *matCellDef="let product">
            <div class="table-button-container product-action-buttons">
              <button
                *ngIf="isAdmin"
                matTooltip="Edit product"
                aria-label="Edit product button"
                routerLink="../edit/{{ product.id }}"
                mat-fab
                color="accent"
              >
                <mat-icon>edit</mat-icon>
              </button>

              <button
                *ngIf="isAdmin"
                matTooltip="Delete product"
                aria-label="Delete product button"
                mat-fab
                color="primary"
                (click)="
                  openDeleteDialog(product.id, product.title);
                  $event.stopPropagation()
                "
              >
                <mat-icon>delete</mat-icon>
              </button>
              <add-to-cart *ngIf="!isAdmin" [product]="product"></add-to-cart>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let product; columns: displayedColumns"></tr>
      </table>
    </div>
    <mat-paginator
      [length]="dataSource?.totalCount$ | async"
      [pageSize]="10"
      [pageSizeOptions]="[10, 20]"
      aria-label="Select page"
      [showFirstLastButtons]="true"
    >
    </mat-paginator>
  </div>
</div>
